<launch>
    <arg name="use_sim_time" default="true"/>
    
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find gray_transceiver)/nodes/PoC_testing/worlds/map.world" respawn="false" output="screen" />
    
    <node pkg="gray_transceiver" type="basicObstacleAvoidance.py" name="simRobotMove"/>

    <node pkg="gray_transceiver" type="requestor.py" name="requestor"/>


    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
        <remap from="scan" to="/robot/LIDAR" />
        <!--<remap from="scan" to="/base_scan" />-->
        <remap from="/map" to="/my_map" />
    </node>

    <node pkg="gray_transceiver" type="gray_transceiver_main.py" name="gray_transceiver" required="true">
        <remap from="/scan" to="/base_scan" />
    </node>


</launch>