<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />

    <node pkg="gray_transceiver" type="requestor_RAI.py" name="requestor"/>

    <!--<node pkg="gray_transceiver" type="gray_transceiver_main.py" name="gray_transceiver" required="true"/>-->

    <node pkg="gray_transceiver" type="cmdVelRepub.py" name="cmd_vel_repub" />
</launch>